.App {
  display: flex;
  flex: 1;
  /* height: 100vh; */
  flex-direction: column;
  overflow: auto;
 
}

.App-backgroundImage {
  background-image: url('../images/book.png');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.App-body {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}