.BookCard-Container {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  background-color: rgba(255,255,255,0.5);
  font-size: 17;
}

.BookCard-Row {
  display: flex;
  flex-wrap: wrap;
  color:rgb(0, 0, 0);
}

.BookCard-Header {
  flex: 1;
  margin-left: 5px;
}