.BookContainer-Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.BookContainer-Column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
}

.Pagination-Buttons {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  margin: 5px;
}

.BookContainer-Header {
  color: rgb(255, 255, 255);
}


 @media screen and (min-width: 320px) {
  .BookContainer-Column-List {
    overflow: auto;
    height: 20vh;
    min-width: 50vw;
    display: flex;
  }
} 

 @media screen and (min-width: 481px) {
  .BookContainer-Column-List {
    overflow: auto;
    display: flex;
    min-width: 50vh;
    height: 28vh;
  }
}

 @media screen and (min-width: 600px) {
  .BookContainer-Column-List {
    overflow: auto;
    min-width: 40vw;
    height: 50vh;
    display: flex;
  }
}


 @media screen and (min-width: 769px) {
  .BookContainer-Column-List {
    overflow: auto;
    min-width: 45vw;
    height: 55vh;
    display: flex;
  }
}

@media screen and (min-width: 1025px) {
  .BookContainer-Column-List {
    overflow: auto;
    min-width: 45vw;
    height: 65vh;
    display: flex;
  }
} 

@media screen and (min-width: 1201px) {
  .BookContainer-Column-List {
    overflow: auto;
    min-width: 35vw;
    height: 65vh;
    display: flex;
  }
}