.DatePickerContainer {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
}

.react-datepicker-wrapper {
  display: block;
}

.react-datepicker__header {
  font-size: 1.5rem;
}

.react-datepicker__month-container {
  font-size: 1.5rem;
}